# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.New Unity Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\trsh\ProjetsUnity\Clicker\New Unity Project\.idea\.idea.New Unity Project\.idea/dataSources/
/dataSources.local.xml
